html, body, ul, li {
  margin: 0;
  font-size: 16px;
}

header {
  position: fixed;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  background-color: black;
  width: 100vw;
  height: 50px;
}

header h1 {
  color: white;
  font-size: 20px;
  margin: 0;
  line-height: 50px;
  text-align: center;
}

header .btn-hamburger {
  top: 0;
  left: 20px;
}

header .btn-hamburger i {
  color: white;
  line-height: 50px;
}

section {
  margin: 0;
}

section.banner {
  margin: 0;
  padding: 0;
}

section.banner .wrapper {
  width: 100vw;
  height: 150px;
  background-size: contain;
  background-image: url(../img/earth.gif);
  background-position: center;
  position: relative;
}

@media (max-width: 767px) {
  section.banner .wrapper {
    height: 75vw;
    background-size: cover;
  }
}

section.banner .wrapper h2 {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.about {
  display: none;
}

section.input {
  margin: 0 auto;
  padding: 40px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.input input {
  display: inline-block;
  border: solid .5px grey;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
}

section.input input.q {
  width: 190px;
  color: black;
  text-align: left;
  font-weight: bold;
}

section.input input.revo {
  width: 100px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  text-align: center;
}

section.results {
  padding: 0 15px;
}

section.results .result p {
  text-align: center;
}

section.results .result .main_query, section.results .result .main_result {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  display: block;
  position: relative;
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin: 60px auto 0;
  padding: 5px 0;
  line-height: 40px;
  text-align: center;
}

section.results .result .main_query span, section.results .result .main_result span {
  font-size: 2rem;
  opacity: 0;
  position: absolute;
  left: -2rem;
  top: 0;
}

section.results .result .main_query p, section.results .result .main_result p {
  margin: 0;
}

section.results .result .sub_result {
  margin: 0 auto 30px;
}

section.results .result div.canvas_wrap {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

section.results .result div.canvas_wrap p {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

section.results .result .wikipedia {
  height: 200px;
  border: .5px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
  overflow-y: scroll;
  text-align: left;
}

section.results .result .map_link {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

section.results .result .twitter-share-button {
  display: block;
  margin: 20px auto;
}

section.results .ranking {
  text-align: center;
}

footer {
  color: white;
  background-color: black;
  width: 100vw;
  height: 60px;
  bottom: 0;
  font-size: .75rem;
}

footer p {
  margin: 5px auto;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */