@charset 'utf-8'

html, body, ul, li
    margin: 0

header
    background-color: black
    height: 60px

    h1
        color: white
        font-size: 20px
        margin: 0
        line-height: 60px
        text-align: center

    .btn-hamburger
        top: 0
        left: 20px

        i
            color: white
            line-height: 60px


section
    margin: 0

section.input
    margin: 20px 0

    input
        display: block
        border: solid 1px blueviolet
        border-radius: 10px
        margin: 10px auto
        text-align: center
        padding: 5px
    input.q
        font-weight: bold
    input.revo
        background-color: blueviolet
        color: white
        font-weight: bold
        width: 150px
        height: 150px
        border-radius: 75px

section.settings

section.results
    padding: 0 15px

    .result
        p
            text-align: center
        .main_result
            font-size: 40px
            display: block
            color: blueviolet
            padding: 5px
            margin: 20px auto
            width: -webkit-fit-content
            width: -moz-fit-content
            width: fit-content
            height: auto
            line-height: 40px
            font-weight: bold
            p
                margin: 0
        .map_link
            display: block
            width: 100%
            font-size: 12px
            text-align: center

    .ranking
        text-align: center



footer
    color: white
    background-color: black
    position: fixed
    width: 100vw
    height: 60px
    bottom: 0
    p
        margin: 5px auto
        text-align: center
