@charset 'utf-8'

$xl: 1440px
$lg: 1200px
$md: 992px
$sm: 767px
$xs: 576px

@mixin xl
	@media (min-width: ($xl))
		@content

@mixin lg
	@media (min-width: ($md))
		@content

@mixin md
	@media (max-width: ($md))
		@content

@mixin sm
	@media (max-width: ($sm))
		@content

@mixin xs
	@media (max-width: ($xs))
		@content

html, body, ul, li
    margin: 0
    font-size: 16px

header
    position: fixed
    top: 0
    position: sticky
    z-index: 1000
    background-color: black
    width: 100vw
    height: 50px

    h1
        color: white
        font-size: 20px
        margin: 0
        line-height: 50px
        text-align: center

    .btn-hamburger
        top: 0
        left: 20px
        i
            color: white
            line-height: 50px

section
    margin: 0

section.banner
    margin: 0
    padding: 0

    .wrapper
        width: 100vw
        height: 150px
        background-size: contain
        background-image: url(../img/earth.gif)
        background-position: center
        position: relative
        @include sm
            height: 75vw
            background-size: cover
        h2
            color: white
            font-size: 2rem
            line-height: 2rem
            position: absolute
            text-align: center
            width: 100vw
            top: 40%
            left: 50%
            -webkit-transform : translate(-50%,-50%)
            transform : translate(-50%,-50%)

section.about
    display: none


section.input
    margin: 0 auto
    padding: 40px 0
    width: fit-content
    input
        display: inline-block
        border: solid .5px grey
        border-radius: 5px
        margin: 10px auto
        padding: 10px
    input.q
        width: 190px
        color: black
        text-align: left
        font-weight: bold
    input.revo
        width: 100px
        background-color: blueviolet
        color: white
        font-weight: bold
        text-align: center

section.settings

section.results
    padding: 0 15px

    .result
        p
            text-align: center
        .main_query, .main_result
            width: fit-content
            height: auto
            display: block
            position: relative
            font-size: 32px
            font-weight: bold
            color: black
            margin: 60px auto 0
            padding: 5px 0
            line-height: 40px
            text-align: center
            span
                font-size: 2rem
                opacity: 0  // unfixed
                position: absolute
                left: -2rem
                top: 0
            p
                margin: 0
        .sub_result
            margin: 0 auto 30px
        div.canvas_wrap
            position: relative
            max-width: 500px
            margin: 0 auto
            p
                position: absolute
                top: 0
                bottom: 0
                right: 0
                left: 0
                margin: auto
                height: 2rem
                font-size: 2rem
                font-weight: bold
                text-align: center
        .wikipedia
            height: 200px
            border: .5px solid lightgrey
            padding: 5px
            border-radius: 5px
            overflow-y: scroll
            text-align: left
        .map_link
            display: block
            width: 100%
            font-size: 20px
            font-weight: bold
            text-align: center
        .twitter-share-button
            display: block
            margin: 20px auto

    .ranking
        text-align: center

footer
    color: white
    background-color: black
    width: 100vw
    height: 60px
    bottom: 0
    font-size: .75rem
    p
        margin: 5px auto
        text-align: center
