<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gorgeous App</title>
    <meta name="application-name" content="Gorgeous App">
    <meta name="description" content="キミのハートに、レボ☆リューション">
    <meta property="og:url" content="https://gorgeous-app.herokuapp.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Gorgeous App: ゴー☆ジャス">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:description" content="キミのハートに、レボ☆リューションするWebアプリ">
    <meta property="og:site_name" content="Gorgeous App">
    <meta property="og:locale" content="ja_JP">
    <meta property="article:author" content="Atsuya Kobayashi">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="author" href="https://www.atsuya.xyz">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/path/to/favicon-32x32.png"> -->
    <!-- <script src="script.js"></script> -->
  </head>
  <body>
    <h1>
      Gorgeous App
    </h1>
    <form action="/" method="POST">
      <p>入力文字列: <input type="text" name="input" /></p>
      <p>レボ☆リューション<input type="submit" value="submit" /></p>
   </form>
   <div>
     結果：{{ result }}
   </div>
  </body>
</html>
