<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gorgeous App</title>
    <meta name="application-name" content="Gorgeous App">
    <meta name="description" content="キミのハートに、レボ☆リューション">
    <meta property="og:url" content="https://gorgeous-app.herokuapp.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Gorgeous App: ゴー☆ジャス">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:description" content="キミのハートに、レボ☆リューションするWebアプリ">
    <meta property="og:site_name" content="Gorgeous App">
    <meta property="og:locale" content="ja_JP">
    <meta property="article:author" content="Atsuya Kobayashi">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/slideout.min.css">
    <link rel="stylesheet" href="/static/css/fakeLoader.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="author" href="https://www.atsuya.xyz">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="/static/js/fakeLoader.min.js"></script>
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/path/to/favicon-32x32.png"> -->
  </head>
  <body>
    <nav id="menu" class="menu">
      <section class="menu-section">
        <h3 class="menu-section-title">How to Use</h3>
        <ul class="menu-section-list">
          <li><a href="https://github.com/atsukoba/GorgeousApp" target="_blank">Installation</a></li>
          <li><a href="https://github.com/atsukoba/GorgeousApp" target="_blank">Usage</a></li>
          <li><a href="https://github.com/atsukoba/GorgeousApp" target="_blank">API</a></li>
        </ul>
      </section>
      <section class="menu-section">
        <h3 class="menu-section-title">About</h3>
        <ul class="menu-section-list">
            <li><a href="https://line.me/R/ti/p/%40244wensq" target="_blank">LINE bot</a></li>
          <li><a href="https://github.com/atsukoba/GorgeousApp" target="_blank">Fork it</a></li>
          <li><a href="https://github.com/atsukoba/GorgeousApp/issues/new" target="_blank">Create an issue</a></li>
          <li><a href="https://github.com/atsukoba/GorgeousApp/releases/" target="_blank">Download</a></li>
        </ul>
      </section>
    </nav>
    <main id="panel">
      <div id="fakeLoader" style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(48, 178, 152); z-index: 99999; display: none;">
        <div class="fl spinner2" style="position: absolute; left: 913.5px; top: 519.5px;">
          <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
        </div>
      </div>
      <header>
        <button class="toggle-button btn-hamburger js-slideout-toggle">
          <i class="fas fa-globe-asia"></i>
        </button>
        <h1>Gorgeous App
        </h1>
      </header>
      <section class="banner">
        <div class="wrapper">
          <h2>
            Revolutionize Your Heart
          </h2>
        </div>
      </section>
      <section class="about">
        <p>
          <!-- TO DO -->
        </p>
      </section>
      <form action="/" method="POST">
        <section class="input">
          <input type="text" name="input" value="まだ助かる" class="q"/>
          <input type="submit" value="Revolution" class="revo" />
        </section>
        <section class="settings">
          <!-- TO DO -->
        </section>
      </form>
      <hr>
      <section class="results">
        <div class="result">
          <p class="main_query">
            {{ answer["input"] }}...
            <span>
              Q
            </span>
          </p>
          {# Top Result #}
          <p class="main_query">
            <i class="fas fa-angle-double-down"></i>
          </p>
          <p class="main_result">
            {{ answer["result"] }}
            <span>
              1
            </span>
          </p>
          <p class="sub_result">
            {{ answer["results"][0][1] }} / {{ answer["roman"] }}
          </p>
          {# Chart #}
          <div class="canvas_wrap"><canvas id="myChart"></canvas><p></p></div>
          <div id="myChart_data" style="display:none">
            {{ answer["results"][0][-1] }}
          </div>
          <p style="font-family: serif;">Wikipedia</p>
          <p class="wikipedia">
            {{ answer["wiki_summary"] }}
          </p>
          <a href="{{ answer['map'] }}" class="map_link">
            Have a Nice Trip: Google Map
          </a>
          <p>
            ↓結果をツイートしよう！↓
            <a href="https://twitter.com/share" class="twitter-share-button" 
              data-url="https://gorgeous-app.herokuapp.com/"
              data-text='{{answer["input"] }}...&#010;&#010;ここ！ {{ answer["result"] }}！！&#010;(適合率: {{ answer["results"][0][-1] }}%)&#010;&#010; @Gorgeous55555&#010;&#010;Tweet from https://gorgeous-app.herokuapp.com/&#010;{{ answer["wiki_url"] }}'
              data-related="Gorgeous55555,atsuyakoba"
              data-count="horizontal"
              data-lang="ja" data-hashtags="ゴージャス" data-size="large"
            ></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>

          <hr>

          {# after 2nd results #}
          {% for r in answer["results"][1:] %}
            <p class="main_result">
              {{ r[0] }}
              <span>
                {{loop.index + 1}}
              </span>
            </p>
            <p class="sub_result">
              {{ r[1] }} / {{ answer["roman"] }}
            </p>
            {# Chart #}
            <div class="canvas_wrap"><canvas id="myChart_{{loop.index + 1}}"></canvas><p></p></div>
            <div id="myChart_{{loop.index + 1}}_data" style="display:none">
              {{ r[-1] }}
            </div>
          {% endfor %}
        </div>
      </section>
      <footer>
        <p>Atsuya Kobayashi</p>
        <p>v1.0.0 2019-07-26</p>
      </footer>
    </main>
    <script>
      // Loader
      $(document).ready(function () {
        $.fakeLoader({
          timeToHide: 2000,
          zIndex: "999",
          bgColor: '#2ecc71',
          spinner:"spinner1"
        });
      });
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });
      // Toggle button
      document.querySelector('.toggle-button').addEventListener('click', function() {
        slideout.toggle();
      });
    </script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
